nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}

body {
  margin: 0px;
  font-family: 'Mulish', sans-serif;

  background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82%, rgb(127, 197, 180) 100%);
}

.page {
  width: 1000px;
  margin: 0 auto;
  padding-top: 60px;
}

ul {
  display: flex;
  list-style: none;
  gap: 48px;
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}

 a {
  color: #1F1534;
  text-decoration: none;
}

ul li a:hover {
  font-weight: bold;
  opacity: 1;
}

h1 {
  font-size: 49px;
  line-height: 56px;
  color: #000;
  font-weight: normal;
}

h1, ul {
  font-family: 'Mulish', sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

h1 span {
  color: #89C5CC;
  font-weight: bold;
}

section p {
  font-size: 14px;
  line-height: 28px;
  color: #7D7987;

  margin: 40px 0;
}


button {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;

  border: 0;
  cursor: pointer;
  background-color: transparent;
}

footer {
  font-size: 14px;
  line-height: 28px;
  text-align: center;

  margin-top: 80px;
}

#balls {
  position: fixed;
  bottom: 0;
  right: 0;
}